<head>
<style>

body{
  background: url('/assets/blog4.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  color:blue;
  font-style: italic;
  font-size: 30px;
  text-shadow: 2px 2px 8px red;

}


</style>


</head>
<h1>New article</h1>
 
<%= render 'form' %>
 
<%= link_to 'Back', articles_path %>
