<head>
<style>
body{
	color: blue;
	background-color: black;
	background-image: url('/assets/abc.png');
	background-size: 100px 100px;

	 
	 background-repeat: repeat;
	
}
body{
	text-align:center;
	font-style: italic;
	font-size: 40px;
}
</style>
</head>
<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>